.recharts-cartesian-axis-tick {    
    font-family: Roboto, sans-serif;
}

.recharts-legend-item-text{
    font-family: Roboto, sans-serif;
}

.recharts-responsive-container{
    font-family: Roboto, sans-serif;
}